<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ictproject.wyhotel.admin.mapper.IAdminMapper">

	<sql id="search">
		<choose>
			<when test="category == 'name'">
				WHERE				
					name LIKE '%' || #{keyword} || '%'
			</when>
			<when test="category == 'tel'">
				WHERE
					tel LIKE '%' || #{keyword} || '%'
			</when>		
		</choose>
	</sql>

	<select id="getMemberList" resultType="member">
		SELECT
		    tbl2.*
		FROM
		    (
		    SELECT
		        ROWNUM as rn, tbl.*
		    FROM
		        (
		        SELECT
		            *
		        FROM
		            members
		        <include refid="search"/>
		        ORDER BY
		            member_code DESC ) tbl ) tbl2
		<![CDATA[
		WHERE		
		    rn > (#{pageNum}-1) * #{cpp}
		AND 
			rn <= #{pageNum} * #{cpp}
		]]>
	</select>
	
	<select id="getMemberCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			members
		<include refid="search"/>
	</select>
	
	<select id="getMemberInfo" resultType="member">
		SELECT
			*
		FROM
			members
		WHERE
			member_code = #{memberCode}
	</select>
	
	<update id="updateMember">	
		UPDATE
			members
		SET
			name = #{name},
			tel = #{tel},
			zip_code = #{zipCode},
			addr_basic = #{addrBasic},
			addr_detail = #{addrDetail},
			admin = #{admin}
		WHERE
			member_code = #{memberCode}	
	</update>
	
	<delete id="deleteMember">
		DELETE FROM
			members
		WHERE
			member_code = #{memberCode}
	</delete>
	
	<update id="updateTempPassword">
		UPDATE
			members
		SET
			password = #{password}
		WHERE
			member_code = #{memberCode}
	</update>

</mapper>